---
layout: default
title: Tags
permalink: /tags/

---

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div id="content">

									<!-- Content -->

									<article>
											<header class="major">
												<h2>{{ page.title }}</h2>
											</header>
										<div>
											{% assign sorted_tags = site.tags | sort %}
											{% for tag in sorted_tags %}
											<h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3> 
											<ul>
												{% for post in tag[1] %}
												<li>
													<a href="{{ post.url }}">{{ post.title }}</a> — {{ post.date | date: "%b. %d, %Y" }}
												</li>
												{% endfor %}
											</ul>
											{% endfor %}
										</div>										
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>