
            <div id="header-wrapper">
                <div class="container">
                    <header id="header">
                        <div class="inner">

                            {% include nav.html %}

                        </div>
                    </header>

                    <!-- Banner -->
                    <div id="banner">	
                        <div class="title-group">
                            <h1>
                                <span class="title-first">Digital</span>
                                <span class="title-second">Scholarship</span>
                            </h1>	
                        </div>					
                        <div class="tagline-group">
                            <span class="tagline-first">Project</p>
                            <span class="tagline-second">Showcase</p>
                        </div>              
                    </div>

                </div>
            </div>

