
            <div id="header-wrapper">
                <div class="container">
                    <header id="header">
                        <div class="inner">

                            {% include nav.html %}

                        </div>
                    </header>

                    <!-- Banner -->
                    <div id="banner">	
                        <h1>
                            <span class="title-first">Digital Learning</span>
                            <span class="title-second">and Scholarship</span>
                        </h1>						
                        <div class="separator"></div>
                        <p class="tagline">Project Showcase</p>
                                        
                    </div>

                </div>
            </div>

