<nav id="nav">
    <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="https://davidson.libguides.com/research-assistance/digital">Schedule a Consultation</a></li>
        <li class="dropdown"><a href="#">Explore Digital Methods</a>
            <ul class="dropdown-menu">
                <li><a href="{{ '/websites/' | relative_url }}">Building Websites</a></li>
                <li><a href="{{ '/MapsPage.html' | relative_url }}">Creating Maps</a></li>
                <li><a href="{{ '/DataVizPage.html' | relative_url }}">Visualizing Information</a></li>
                <li><a href="{{ '/MediaPage.html' | relative_url }}">Producing Media</a></li>
            </ul>
        </li>
        <li><a href="{{ '/Blog.html' | relative_url }}">Blog</a></li>
    </ul>
</nav>