<!DOCTYPE html>
<html>
    
 {% include docInfo.html %}

<body class="homepage is-preload">
    <div id="page-wrapper">

    {% if page.homepage %}
        {% include indexheader.html %}
    {% else %}
        {% include header.html %}
    {% endif %}
      
      {{ content }}
    
    {% include footer.html %}

    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>