<!DOCTYPE html>
<html>

    {% include docInfo.html %}

<body class="homepage is-preload">
    <div id="page-wrapper">
        {% include header.html %}
        
<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div class="wrapper style2">
			<div class="inner">
				<div class="container">
					<div id="content">
                        <article>
                         <header class="major">
                            <h2>{{ page.title }}</h2>
                         </header>            
                         <p>{{page.author}} | {{ page.date | date: "%B %d, %Y" }}</p>
                          {{ content }}

                        <div class="post-tags" style="margin-top: 30px; line-height: 2.0;">
                            <strong>Tags:</strong>
                            {% for tag in page.tags %}
                            <a href="/tags/#{{ tag | slugify }}" class="tag-item" style="font-size: 16px; margin-right: 10px;">
                                {{ tag }}
                            </a>
                            {% endfor %}
                        </div>
                        </article>   
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

    </div>

    {% include scripts.html %}

</body>

</html>